<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product.status %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= product.destination %>
  </p>

  <p>
    <strong>Profitabily rate:</strong>
    <%= product.profitabily_rate %>
  </p>

  <p>
    <strong>Minimum period for realization:</strong>
    <%= product.minimum_period_for_realization %>
  </p>

  <p>
    <strong>Administration fee:</strong>
    <%= product.administration_fee %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= product.due_date %>
  </p>

</div>
